# Project 1: SAT & ACT Analysis

The first markdown cell in a notebook is a great place to provide an overview of your entire project. You will likely want to at least state your

## Problem Statement

as well as an

## Executive Summary

If you want to, it's great to use relative links to direct your audience to various sections of a notebook. **HERE'S A DEMONSTRATION WITH THE CURRENT SECTION HEADERS**:

### Contents:
- [2017 Data Import & Cleaning](#Data-Import-and-Cleaning)
- [2018 Data Import and Cleaning](#2018-Data-Import-and-Cleaning)
- [Exploratory Data Analysis](#Exploratory-Data-Analysis)
- [Data Visualization](#Visualize-the-data)
- [Descriptive and Inferential Statistics](#Descriptive-and-Inferential-Statistics)
- [Outside Research](#Outside-Research)
- [Conclusions and Recommendations](#Conclusions-and-Recommendations)

**If you combine your problem statement, executive summary, data dictionary, and conclusions/recommendations, you have an amazing README.md file that quickly aligns your audience to the contents of your project.** Don't forget to cite your data sources!

*All libraries used should be added here*

In [1]:
#Imports:
import numpy as np
import pandas as pd
import scipy.stats as stats
import matplotlib.pyplot as plt
import seaborn as sns

## 2017 Data Import and Cleaning

#### 1. Read In SAT & ACT  Data

Read in the `sat_2017.csv` and `act_2017.csv` files and assign them to appropriately named pandas dataframes.

In [2]:
act_2017 = pd.read_csv('/Users/cambostein/dsi2018/projects/project-1/data/act_2017.csv', delimiter=',')
sat_2017 = pd.read_csv('/Users/cambostein/dsi2018/projects/project-1/data/sat_2017.csv', delimiter=',')

#### 2. Display Data

Print the first 10 rows of each dataframe to your jupyter notebook

In [3]:
act_2017.head()

      State Participation  English  Math  Reading  Science Composite
0  National           60%     20.3  20.7     21.4     21.0      21.0
1   Alabama          100%     18.9  18.4     19.7     19.4      19.2
2    Alaska           65%     18.7  19.8     20.4     19.9      19.8
3   Arizona           62%     18.6  19.8     20.1     19.8      19.7
4  Arkansas          100%     18.9  19.0     19.7     19.5      19.4

In [4]:
sat_2017.head()

        State Participation  Evidence-Based Reading and Writing  Math  Total
0     Alabama            5%                                 593   572   1165
1      Alaska           38%                                 547   533   1080
2     Arizona           30%                                 563   553   1116
3    Arkansas            3%                                 614   594   1208
4  California           53%                                 531   524   1055

#### 3. Verbally Describe Data

Answer: 

ACT Data: The ACT data consists of several metrics organized by state and national average. These include averages for each section (English, Math, Reading, and Science), and the average composite score. The data also contain percent participation of eligible high school students, per state and nationally.

Sat Data: The SAT data includes participation per state, average state scores for the two sections (Reading and Writing; Math), and average Total Sat score.

#### 4a. Does the data look complete?

Answer: 

There are no missing values in either of the DataFrames.

#### 4b. Are there any obvious issues with the observations?

**What is the minimum *possible* value for each test/subtest? What is the maximum *possible* value?**

Consider comparing any questionable values to the sources of your data:
- [SAT](https://blog.collegevine.com/here-are-the-average-sat-scores-by-state/)
- [ACT](https://blog.prepscholar.com/act-scores-by-state-averages-highs-and-lows)

Answer: 

ACT: The minimum value for percent participation would be 0. The maximum value is 100.
For individual subject scores and the composite score, the range is 1 to 36.

SAT: The range for percent participation again is 0-100. For the individual section scores, the range is 200-800, which add to the total score being between 400 and 1600.

#### 4c. Fix any errors you identified

**The data is available** so there's no need to guess or calculate anything. If you didn't find any errors, continue to the next step.

In [5]:
act_2017.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52 entries, 0 to 51
Data columns (total 7 columns):
State            52 non-null object
Participation    52 non-null object
English          52 non-null float64
Math             52 non-null float64
Reading          52 non-null float64
Science          52 non-null float64
Composite        52 non-null object
dtypes: float64(4), object(3)
memory usage: 2.9+ KB

In [6]:
sat_2017.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51 entries, 0 to 50
Data columns (total 5 columns):
State                                 51 non-null object
Participation                         51 non-null object
Evidence-Based Reading and Writing    51 non-null int64
Math                                  51 non-null int64
Total                                 51 non-null int64
dtypes: int64(3), object(2)
memory usage: 2.1+ KB

#### 5. What are your data types? 
Display the data types of each feature.

In [7]:
act_2017.dtypes

State             object
Participation     object
English          float64
Math             float64
Reading          float64
Science          float64
Composite         object
dtype: object

In [8]:
sat_2017.dtypes

State                                 object
Participation                         object
Evidence-Based Reading and Writing     int64
Math                                   int64
Total                                  int64
dtype: object

What did you learn?
- Do any of them seem odd?  
- Which ones are not as they should be?

Answer:

The percent participation values are strings - It would be wise to convert them to integers by removing the '%' character.

The value for Composite

#### 6. Fix Incorrect Data Types
Based on what you discovered above, use appropriate methods to re-type incorrectly typed data.
- Define a function that will allow you to convert participation rates to an appropriate numeric type. Use `map` or `apply` to change these columns in each dataframe.

In [9]:
def remove_percent_symbol(dataframe):
    dataframe['Participation'] = dataframe['Participation'].apply(lambda x: float(x.replace('%',''))/100)
    return dataframe

In [10]:
sat_2017 = remove_percent_symbol(sat_2017)

In [11]:
sat_2017.head()

        State  Participation  Evidence-Based Reading and Writing  Math  Total
0     Alabama           0.05                                 593   572   1165
1      Alaska           0.38                                 547   533   1080
2     Arizona           0.30                                 563   553   1116
3    Arkansas           0.03                                 614   594   1208
4  California           0.53                                 531   524   1055

- Fix any individual values preventing other columns from being the appropriate type.

In [12]:
act_2017 = remove_percent_symbol(act_2017)

In [13]:
act_2017.head()

      State  Participation  English  Math  Reading  Science Composite
0  National           0.60     20.3  20.7     21.4     21.0      21.0
1   Alabama           1.00     18.9  18.4     19.7     19.4      19.2
2    Alaska           0.65     18.7  19.8     20.4     19.9      19.8
3   Arizona           0.62     18.6  19.8     20.1     19.8      19.7
4  Arkansas           1.00     18.9  19.0     19.7     19.5      19.4

In [14]:
act_2017.loc['51':'Composite'] = 20.2

- Finish your data modifications by making sure the columns are now typed appropriately.

In [15]:
act_2017.dtypes

State             object
Participation    float64
English          float64
Math             float64
Reading          float64
Science          float64
Composite         object
dtype: object

In [16]:
sat_2017.dtypes

State                                  object
Participation                         float64
Evidence-Based Reading and Writing      int64
Math                                    int64
Total                                   int64
dtype: object

In [17]:
act_2017['Composite'] = act_2017['Composite'].astype(float)

- Display the data types again to confirm they are correct.

In [18]:
#Code:
sat_2017.dtypes

State                                  object
Participation                         float64
Evidence-Based Reading and Writing      int64
Math                                    int64
Total                                   int64
dtype: object

In [19]:
act_2017.dtypes

State             object
Participation    float64
English          float64
Math             float64
Reading          float64
Science          float64
Composite        float64
dtype: object

#### 7. Rename Columns
Change the names of the columns to more expressive names so that you can tell the difference the SAT columns and the ACT columns. Your solution should map all column names being changed at once (no repeated singular name-changes). **We will be combining these data with some of the data from 2018, and so you should name columns in an appropriate way**.

**Guidelines**:
- Column names should be all lowercase (you will thank yourself when you start pushing data to SQL later in the course)
- Column names should not contain spaces (underscores will suffice--this allows for using the `df.column_name` method to access columns in addition to `df['column_name']`.
- Column names should be unique and informative (the only feature that we actually share between dataframes is the state).

In [20]:
sat_2017.columns

Index(['State', 'Participation', 'Evidence-Based Reading and Writing', 'Math',
       'Total'],
      dtype='object')

In [21]:
#code

new_sat_columns = ['state', 'sat_participation', 'sat_ebrw', 'sat_math', 'sat_total']
sat_2017.columns = new_sat_columns
sat_2017.columns

Index(['state', 'sat_participation', 'sat_ebrw', 'sat_math', 'sat_total'], dtype='object')

In [22]:
act_2017.columns

Index(['State', 'Participation', 'English', 'Math', 'Reading', 'Science',
       'Composite'],
      dtype='object')

In [23]:
new_act_columns = ['state', 'act_participation', 'act_english', 'act_math', 
                   'act_reading', 'act_science', 'act_composite']
act_2017.columns = new_act_columns
act_2017.columns

Index(['state', 'act_participation', 'act_english', 'act_math', 'act_reading',
       'act_science', 'act_composite'],
      dtype='object')

#### 8. Create a data dictionary

Now that we've fixed our data, and given it appropriate names, let's create a [data dictionary](http://library.ucmerced.edu/node/10249). 

A data dictionary provides a quick overview of features/variables/columns, alongside data types and descriptions. The more descriptive you can be, the more useful this document is.

Example of a Fictional Data Dictionary Entry: 

|Feature|Type|Dataset|Description|
|---|---|---|---|
|**county_pop**|*integer*|2010 census|The population of the county (units in thousands, where 2.5 represents 2500 people).| 
|**per_poverty**|*float*|2010 census|The percent of the county over the age of 18 living below the 200% of official US poverty rate (units percent to two decimal places 98.10 means 98.1%)|

[Here's a quick link to a short guide for formatting markdown in Jupyter notebooks](https://jupyter-notebook.readthedocs.io/en/stable/examples/Notebook/Working%20With%20Markdown%20Cells.html).

Provided is the skeleton for formatting a markdown table, with columns headers that will help you create a data dictionary to quickly summarize your data, as well as some examples. **This would be a great thing to copy and paste into your custom README for this project.**

|Feature|Type|Dataset|Description|
|---|---|---|---|
| State | object | ACT/SAT | List of States and Territories |	
| act_participation | float | ACT | Participation per State |
| act_english | float | ACT | Average score for the English section, from 1-36  |
| act_math | float | ACT | Average score for the Math section, from 1-36 |
| act_reading | float | ACT | Average score for the Reading section, from 1-36 |
| act_science | float | ACT | Average score for the Science section, from 1-36 |	
| act_composite | float | ACT | Average Composite score, from 1-36 |
| sat_participation | float | SAT | Participation per State |
| sat_ebrw | int | SAT | Average score for the Evidence-based Reading and Writing section, from 200-800 |
| sat_math | int | SAT | Average score for the Math section, from 200-800 |
| sat_total | int | SAT | Average total score, from 400-1600 |

#### 9. Drop unnecessary rows

One of our dataframes contains an extra row. Identify and remove this from the dataframe.

In [24]:
act_2017 = act_2017.drop(51)

In [25]:
act_2017.tail()

,state,act_participation,act_english,act_math,act_reading,act_science,act_composite
46,Vermont,0.29,23.3,23.1,24.4,23.2,23.6
47,Virginia,0.29,23.5,23.3,24.6,23.5,23.8
48,Washington,0.29,20.9,21.9,22.1,22.0,21.9
49,West Virginia,0.69,20.0,19.4,21.2,20.5,20.4
50,Wisconsin,1.00,19.7,20.4,20.6,20.9,20.5

#### 10. Merge Dataframes

Join the 2017 ACT and SAT dataframes using the state in each dataframe as the key. Assign this to a new variable.

In [26]:
#Code:
combined_2017 = act_2017.merge(sat_2017, how = 'inner')

In [27]:
combined_2017.head()

,state,act_participation,act_english,act_math,act_reading,act_science,act_composite,sat_participation,sat_ebrw,sat_math,sat_total
0,Alabama,1.00,18.9,18.4,19.7,19.4,19.2,0.05,593,572,1165
1,Alaska,0.65,18.7,19.8,20.4,19.9,19.8,0.38,547,533,1080
2,Arizona,0.62,18.6,19.8,20.1,19.8,19.7,0.30,563,553,1116
3,Arkansas,1.00,18.9,19.0,19.7,19.5,19.4,0.03,614,594,1208
4,California,0.31,22.5,22.7,23.1,22.2,22.8,0.53,531,524,1055

In [40]:
combined_2017.tail()

,state,act_participation,act_english,act_math,act_reading,act_science,act_composite,sat_participation,sat_ebrw,sat_math,sat_total
45,Vermont,0.29,23.3,23.1,24.4,23.2,23.6,0.60,562,551,1114
46,Virginia,0.29,23.5,23.3,24.6,23.5,23.8,0.65,561,541,1102
47,Washington,0.29,20.9,21.9,22.1,22.0,21.9,0.64,541,534,1075
48,West Virginia,0.69,20.0,19.4,21.2,20.5,20.4,0.14,558,528,1086
49,Wisconsin,1.00,19.7,20.4,20.6,20.9,20.5,0.03,642,649,1291

In [42]:
combined_2017.index

Int64Index([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
            17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33,
            34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49],
           dtype='int64')

#### 11. Save your cleaned, merged dataframe

Use a relative path to save out your data as `combined_2017.csv`.

In [28]:
#code
combined_2017.to_csv('/Users/cambostein/dsi2018/projects/project-1/data/combined_2017.csv')

## 2018 Data Import and Cleaning

Links to the 2018 ACT and SAT data are provided in the README. These data live in PDFs, and so you'll get to enjoy practicing some *manual* data collection. Save these data as a CSV in your `data` directory, and import, explore, and clean these data in the same way you did above. **Make sure you comment on your steps so it is clear *why* you are doing each process**.

In [29]:
#importing SAT and ACT csv files
sat_2018 = pd.read_csv('/Users/cambostein/dsi2018/projects/project-1/data/East_Coast_Data_Entry - SAT 2018.csv')
act_2018 = pd.read_csv('/Users/cambostein/dsi2018/projects/project-1/data/East_Coast_Data_Entry - ACT 2018.csv')

In [30]:
#checking out the column names, looking for datatypes and missing values
sat_2018.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52 entries, 0 to 51
Data columns (total 5 columns):
State                                 52 non-null object
Participation                         52 non-null object
Evidence-Based Reading and Writing    52 non-null int64
Math                                  52 non-null int64
Total                                 52 non-null int64
dtypes: int64(3), object(2)
memory usage: 2.1+ KB

In [31]:
#bringing back this function to call on act_2018 df
def remove_percent_symbol(dataframe):
    dataframe['Participation'] = dataframe['Participation'].apply(lambda x: float(x.replace('%',''))/100)
    return dataframe

In [32]:
#using above function and checking that the datatype has changed for the 'Participation' column
remove_percent_symbol(sat_2018)
sat_2018.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52 entries, 0 to 51
Data columns (total 5 columns):
State                                 52 non-null object
Participation                         52 non-null float64
Evidence-Based Reading and Writing    52 non-null int64
Math                                  52 non-null int64
Total                                 52 non-null int64
dtypes: float64(1), int64(3), object(1)
memory usage: 2.1+ KB

In [35]:
sat_2018

,State,Participation,Evidence-Based Reading and Writing,Math,Total
0,Alabama,0.06,595,571,1166
1,Alaska,0.43,562,544,1106
2,Arizona,0.29,577,572,1149
3,Arkansas,0.05,592,576,1168
4,California,0.60,540,536,1076
5,Colorado,0.28,519,506,1025
6,Connecticut,1.00,535,519,1054
7,Delaware,1.00,505,492,997
8,District of Columbia,0.92,497,480,977
9,Florida,0.97,522,493,1015
10,Georgia,0.70,542,522,1064
11,Hawaii,0.56,550,549,1099
12,Idaho,1.00,508,493,1001
13,Illinois,0.99,513,506,1019
14,Indiana,0.67,546,539,1085
15,Iowa,0.03,634,631,1265
16,Kansas,0.04,633,631,1264
17,Kentucky,0.04,630,618,1248
18,Louisiana,0.04,615,595,1210
19,Maine,0.99,512,501,1013
20,Maryland,0.76,545,535,1080
21,Massachusetts,0.80,562,563,1125
22,Michigan,1.00,511,499,1010
23,Minnesota,0.04,643,655,1298
24,Mississippi,0.04,633,629,1262
25,Missouri,0.04,633,639,1272
26,Montana,0.10,606,592,1198
27,Nebraska,0.03,629,623,1252
28,Nevada,0.23,574,566,1140
29,New Hampshire,0.96,535,538,1073
30,New Jersey,0.82,547,547,1094
31,New Mexico,0.16,552,540,1092
32,New York,0.79,534,534,1068
33,North Carolina,0.52,554,543,1097
34,North Dakota,0.02,640,643,1283
35,Ohio,0.18,552,547,1099
36,Oklahoma,0.08,541,521,1062
37,Oregon,0.48,564,553,1117
38,Pennsylvania,0.70,547,539,1086
39,Rhode Island,0.97,513,505,1018
40,South Carolina,0.55,565,541,1106
41,South Dakota,0.03,622,618,1240
42,Tennessee,0.06,624,607,1231
43,Texas,0.66,520,512,1032
44,Utah,0.04,618,612,1230
45,Vermont,0.64,565,554,1119
46,Virginia,0.68,567,550,1117
47,Washington,0.69,543,538,1081
48,West Virginia,0.28,513,486,999
49,Wisconsin,0.03,641,653,1294
50,Wyoming,0.03,633,625,1258
51,National,0.51,568,558,1126

In [36]:
#checking out the column names, looking for datatypes and missing values
act_2018.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52 entries, 0 to 51
Data columns (total 3 columns):
State            52 non-null object
Participation    52 non-null object
Composite        52 non-null float64
dtypes: float64(1), object(2)
memory usage: 1.3+ KB

In [37]:
#bringing back this function to call on act_2018 df
def remove_percent_symbol(dataframe):
    dataframe['Participation'] = dataframe['Participation'].apply(lambda x: float(x.replace('%',''))/100)
    return dataframe

In [38]:
#using above function and checking that the datatype has changed for the 'Participation' column
remove_percent_symbol(act_2018)
act_2018.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52 entries, 0 to 51
Data columns (total 3 columns):
State            52 non-null object
Participation    52 non-null float64
Composite        52 non-null float64
dtypes: float64(2), object(1)
memory usage: 1.3+ KB

In [39]:
act_2018

               State  Participation  Composite
0            Alabama           1.00       19.1
1             Alaska           0.33       20.8
2            Arizona           0.66       19.2
3           Arkansas           1.00       19.4
4         California           0.27       22.7
5           Colorado           0.30       23.9
6        Connecticut           0.26       25.6
7           Delaware           0.17       23.8
8   Washington, D.C.           0.32       23.6
9            Florida           0.66       19.9
10           Georgia           0.53       21.4
11            Hawaii           0.89       18.9
12             Idaho           0.36       22.3
13          Illinois           0.43       23.9
14           Indiana           0.32       22.5
15              Iowa           0.68       21.8
16            Kansas           0.71       21.6
17          Kentucky           1.00       20.2
18         Louisiana           1.00       19.2
19             Maine           0.07       24.0
20          Maryland           0.31       22.5
21     Massachusetts           0.25       25.5
22          Michigan           0.22       24.2
23         Minnesota           0.99       21.3
24       Mississippi           1.00       18.6
25          Missouri           1.00       20.0
26           Montana           1.00       20.0
27          Nebraska           1.00       20.1
28            Nevada           1.00       17.7
29     New Hampshire           0.16       25.1
30        New Jersey           0.31       23.7
31        New Mexico           0.67       19.4
32          New York           0.27       24.5
33    North Carolina           1.00       19.1
34      North Dakota           0.98       20.3
35              Ohio           1.00       20.3
36          Oklahoma           1.00       19.3
37            Oregon           0.42       21.3
38      Pennsylvania           0.20       23.5
39      Rhode Island           0.15       24.2
40    South Carolina           1.00       18.3
41      South Dakota           0.77       21.9
42         Tennessee           1.00       19.6
43             Texas           0.45       20.7
44              Utah           1.00       20.4
45           Vermont           0.24       24.1
46          Virginia           0.24       23.9
47        Washington           0.24       22.2
48     West Virginia           0.65       20.3
49         Wisconsin           1.00       20.5
50           Wyoming           1.00       20.0
51          National           0.50       21.5

#### Combine your 2017 and 2018 data into a single dataframe
Joining on state names should work, assuming you formatted all your state names identically. Make sure none of your columns (other than state) have identical names. Do yourself a favor and decide if you're encoding participation rates as floats or integers and standardize this across your datasets.

Save the contents of this merged dataframe as `final.csv`.

**Use this combined dataframe for the remainder of the project**.

## Exploratory Data Analysis


### Summary Statistics
Transpose the output of pandas `describe` method to create a quick overview of each numeric feature.

In [ ]:
#Code:

#### Manually calculate standard deviation

$$\sigma = \sqrt{\frac{1}{n}\sum_{i=1}^n(x_i - \mu)^2}$$

- Write a function to calculate standard deviation using the formula above

In [4]:
#code

- Use a **dictionary comprehension** to apply your standard deviation function to each numeric column in the dataframe.  **No loops**  
- Assign the output to variable `sd` as a dictionary where: 
    - Each column name is now a key 
    - That standard deviation of the column is the value 
     
*Example Output :* `{'ACT_Math': 120, 'ACT_Reading': 120, ...}`

In [ ]:
#Code:

Do your manually calculated standard deviations match up with the output from pandas `describe`? What about numpy's `std` method?

Answer

#### Investigate trends in the data
Using sorting and/or masking (along with the `.head` method to not print our entire dataframe), consider the following questions:

- Which states have the highest and lowest participation rates for the:
    - 2017 SAT?
    - 2018 SAT?
    - 2017 ACT?
    - 2018 ACT?
- Which states have the highest and lowest mean total/composite scores for the:
    - 2017 SAT?
    - 2018 SAT?
    - 2017 ACT?
    - 2018 ACT?
- Do any states with 100% participation on a given test have a rate change year-to-year?
- Do any states show have >50% participation on *both* tests either year?

Based on what you've just observed, have you identified any states that you're especially interested in? **Make a note of these and state *why* you think they're interesting**.

**You should comment on your findings at each step in a markdown cell below your code block**. Make sure you include at least one example of sorting your dataframe by a column, and one example of using boolean filtering (i.e., masking) to select a subset of the dataframe.

In [2]:
#code

## Visualize the data

There's not a magic bullet recommendation for the right number of plots to understand a given dataset, but visualizing your data is *always* a good idea. Not only does it allow you to quickly convey your findings (even if you have a non-technical audience), it will often reveal trends in your data that escaped you when you were looking only at numbers.

Some recommendations on plotting:
- Plots have titles
- Plots have axis labels
- Plots have appropriate tick labels
- All text is legible in a plot
- Plots demonstrate meaningful and valid relationships
- Plots are interpreted to aid understanding

There is such a thing as too many plots, and there are a *lot* of bad plots. You might make some! (But hopefully not with the guided prompts below).

#### Use Seaborn's heatmap with pandas `.corr()` to visualize correlations between all numeric features

Heatmaps are generally not appropriate for presentations, and should often be excluded from reports as they can be visually overwhelming. **However**, they can be extremely useful in identify relationships of potential interest (as well as identifying potential collinearity before modeling).

*example*:
```python
sns.heatmap(df.corr())
```

Please take time to format your output, adding a title. Look through some of the additional arguments and options. (Axis labels aren't really necessary, as long as the title is informative).

#### Define a custom function to subplot histograms

We have data for two tests for two years. We only have composite (and not subtest scores) for the 2018 ACT. We should write a function that will take the names of 2+ columns and subplot histograms. While you can use pandas plotting or Seaborn here, matplotlib gives you greater control over all aspects of your plots.

[Helpful Link for Plotting Multiple Figures](https://matplotlib.org/users/pyplot_tutorial.html#working-with-multiple-figures-and-axes)

Here's some starter code:

In [ ]:
def subplot_histograms(dataframe, list_of_columns, list_of_titles, list_of_xlabels):
    nrows = int(np.ceil(len(list_of_columns)/2) # Makes sure you have enough rows
    fig, ax = plt.subplots(nrows=nrows, ncols=2) # You'll want to specify your figsize
    ax = ax.ravel() # Ravel turns a matrix into a vector, which is easier to iterate
    for i, column in enumerate(list_of_columns): # Gives us an index value to get into all our lists
        ax[i].hist(dataframe[column]) # feel free to add more settings
        # Set titles, labels, etc here for each subplot

#### Plot and interpret histograms 
For each of the following:
- Participation rates for SAT & ACT
- Math scores for SAT & ACT
- Reading/verbal scores for SAT & ACT

In [ ]:
# Code

#### Plot and interpret scatter plots

For each of the following:
- SAT vs. ACT math scores for 2017
- SAT vs. ACT verbal/reading scores for 2017
- SAT vs. ACT total/composite scores for 2017
- Total scores for SAT 2017 vs. 2018
- Composite scores for ACT 2017 vs. 2018

Plot the two variables against each other using matplotlib or Seaborn

Your plots should show:
- Two clearly labeled axes
- A proper title
- Using colors and symbols that are clear and unmistakable

**Feel free to write a custom function, and subplot if you'd like.** Functions save both time and space.

In [ ]:
# Code

#### Plot and interpret boxplots

For each numeric variable in the dataframe create a boxplot using Seaborn. Boxplots demonstrate central tendency and spread in variables. In a certain sense, these are somewhat redundant with histograms, but you may be better able to identify clear outliers or differences in IQR, etc.

Multiple values can be plotted to a single boxplot as long as they are of the same relative scale (meaning they have similar min/max values).

Each boxplot should:
- Only include variables of a similar scale
- Have clear labels for each variable
- Have appropriate titles and labels

In [ ]:
# Code

#### Feel free to do additional plots below
*(do research and choose your own chart types & variables)*

Are there any additional trends or relationships you haven't explored? Was there something interesting you saw that you'd like to dive further into? It's likely that there are a few more plots you might want to generate to support your narrative and recommendations that you are building toward. **As always, make sure you're interpreting your plots as you go**.

#### (Optional): Using Tableau, create a choropleth map for each variable using a map of the US. 

Save this plot as an image file in an images directory, provide a relative path, and insert the image into notebook in markdown.

## Descriptive and Inferential Statistics

#### Summarizing Distributions

Above, we used pandas `describe` to provide quick summary statistics of our numeric columns. We also demonstrated many visual relationships.

As data scientists, having a complete understanding of data is imperative prior to modeling.

While we will continue to build our analytic tools, we know that measures of *central tendency*, *spread*, and *shape/skewness* provide a quick summary of distributions.

For each variable in your data, summarize the underlying distributions (in words & statistics)
 - Be thorough in your verbal description of these distributions.
 - Be sure to back up these summaries with statistics.

Answers:

#### We generally assuming that data we sample from a population will be normally distributed. Do we observe this trend?

Answer:

Does This Assumption Hold for:
    - Math
    - Reading
    - Rates
Explain your answers for each distribution and how you think this will affect estimates made from these data.

Answer:

#### Estimate Limits of Data

Suppose we only seek to understand the relationship between SAT and ACT participation rates in 2017. 

##### Does it make sense to conduct statistical inference given these data specifically? 

Why or why not?

*(think about granularity, aggregation, the relationships between populations size & rates...consider the actually populations these data describe in answering this question)*

Answer:

##### Is it appropriate to compare *these* specific SAT and ACT math scores? 

Why or why not?

Answer:

#### Statistical Evaluation of Distributions 

**If you feel it's appropriate**, using methods we discussed in class, run hypothesis tests to compare variables of interest in our dataset.

In [ ]:
# Code:

## Outside Research

Based upon your observations, choose **three** states that demonstrate interesting trends in their SAT and/or ACT participation rates. Spend some time doing outside research on state policies that might influence these rates, and summarize your findings below. **Feel free to go back and create new plots that highlight these states of interest**. If you bring in any outside tables or charts, make sure you are explicit about having borrowed them. If you quote any text, make sure that it renders as being quoted. (Make sure that you cite your sources -- check with you local instructor for citation preferences).

## Conclusions and Recommendations

Based on your exploration of the data, what are you key takeaways and recommendations? Choose one state with a lower participation rate and provide a suggestion for how the College Board might increase participation amongst graduating seniors in this state. Are there additional data you desire that would better inform your investigations?